{% extends 'homebase.html' %}
{% block title %} Deletar {% endblock title %}
{% block navbar %} {% include 'navbar.html' %} {% endblock  %}
{% block content %}
<form class='form' method='POST' action=''>
    {% csrf_token %}
    <p> Are you sure you want to delete "{{object}}"? </p>
    <input type='submit' value="Confirm"/>
</form>

{% endblock content %}