{% extends 'homebase.html' %}

{% block title %} {{tweet.content}} {% endblock title %}
{% block navbar %} {% include 'navbar.html' %} {% endblock  %}
{% block content %}
<div class="row">
    {{tweet.content}} <br/>
    {{tweet.user}} <br/>
    {{tweet.created_at|timesince}} <br/>
</div>

{% endblock content %}