{% extends 'homebase.html' %}

{% block title %} {{object.first_name}} {% endblock title %}
{% block navbar %} {% include 'navbar.html' %} {% endblock  %}
{% block content %}
<div class="row">
    <div class="col-sm-3 col-xs-12">
    <h1>{{object.username}}</h1>
    </div>

    <div class="col-sm-9 col-xs-12">
    <h1>Tweets</h1>
    {% for tweet in object.tweet_set.all  %}
    <p>{{tweet.content}}</p>
    <p> {{tweet.user}} | {{tweet.created_at|timesince}} </p>
    <hr/>
    
    
    
    {% endfor %}

    </div>

    
</div>

{% endblock content %}