{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="TemplateMo" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
      rel="stylesheet"
    />


    <title>Twitter - {% block title %}  {% endblock title %}</title>

    <!-- Bootstrap core CSS -->

    <style>
    .red-color {
      color: red;
    }

    .grey-color {
      color: #ccc;
    }
    
    </style>
  </head>

  <body>
  {% block navbar %} {% endblock  %}
    <div class='container'>
      {% block content %} {% endblock %}

    </div>
  



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% block script %}{% endblock script %}
<script>
$(document).ready(() => {
    var typingTimer;
    var doneInterval  = 800
    var searchInput = $('#navbar-search-form input[type=text')
    var searchQuery;
    
    
  searchInput.keyup((event) => { 
    searchQuery = $(event.target).val()

    clearTimeout(typingTimer)
    typingTimer = setTimeout(doneSearchTyping, doneInterval)
  })

  searchInput.keydown((event) => { 
    console.log(event.key)
    clearTimeout(typingTimer)
  })

  function doneSearchTyping() {
    if(searchQuery) {
      var url = '?q=' + searchQuery
      document.location.href = url
    }
  }



})

</script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
{% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
{% comment %} <script src="https://code.jquery.com/jquery-3.1.1.min.js"> {% endcomment %}
  
  </body>
</html>
