{% extends 'homebase.html' %}
{% block navbar %} {% include 'navbar.html' %} {% endblock  %}
{% block title %} Início {% endblock title %}


{% block script %}

<script>
$(document).ready(function(){
    console.log('Working')
});

var charsStart = 140
var charsCurrent = 0
$('#tweet_form').append("<span id='tweetChars'>" +  charsStart  + "</span>")

$('#tweet_form textarea').keyup((event) => {
    var tweetValue = $(event.target).val()
    charsCurrent = charsStart - tweetValue.length
    var spanChars = $('#tweetChars')
    $('#tweetChars').text(charsCurrent)

    if(charsCurrent > 0) {
        spanChars.removeClass('red-color')
        spanChars.removeClass('grey-color')
    } else if(charsCurrent == 0) {
         spanChars.removeClass('red-color')
        spanChars.addClass('grey-color')
    } else if(charsCurrent < 0) {
        spanChars.removeClass('grey-color')
        spanChars.addClass('red-color')
    }

})

</script>

{% endblock script %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-xs-12" >
        <h1>{{request.user}} </h1>
    </div>

    <div class="col-sm-9">
        {% if not request.GET.q %}
    <div class="">
        {% include 'form.html' with form=create_form action_url=create_url btn_title='Tweet' %}
    </div>

{% endif %}


        {% for object in object_list %}
            <div class="media">
            {% if object.image %}
                <img class="mr-3" src="..." alt="">
            {% endif %}
                <div class="media-body">
                    {{object.content}} <br/>
                    via <a href="profile/{{object.user}}">{{object.user}}</a> |  {{object.created_at|timesince}} | <a href="{{object.get_absolute_url}}">ver</a>
                </div>
            </div> 
        <hr/>
        {% empty %}
            {% if request.GET.q %}
                <p> No tweets found. </p>
            {% else %}
                <p> No tweets yet. </p>
            {% endif %}        
        {% endfor %}

    </div>
   
</div>

{% endblock  %}