{% block content %}
<form id='navbar-search-form' class="row row-cols-lg-auto g-3 align-items-center" method='GET' action='{% url "home" %}'>
  <div class="col-12">
    <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
    <div class="input-group">
      <input type="text" class="form-control" name='q' value="{{request.GET.q}}" placeholder="Faça uma busca">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-outline-primary">Procurar</button>
  </div>
</form>



{% endblock content %}